<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Error 403 - Eatry Hub{% endblock %}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'EatryHub/error.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="boo-wrapper">
            <div class="boo">
                <div class="face"></div>
            </div>
            <div class="shadow"></div>
        
            <h1>403</h1>
            <h1>Whoops!</h1>
            <h2>ACSCESS NOT GRANTED</h2>
            <p>
                You do not have permission to access this page.
            </p>
            <p>{{ error }}</p>
            <p>管理者にお問い合わせください。</p>
            </div>
        </div>    
    </body>
</html>